<h1>New Quiz</h1>
<%= form_with model: [:admin, @quiz], local: true do |f| %>
  <%= f.label :title, "Quiz Title" %><br>
  <%= f.text_field :title, required: true %>
  <div><br>
    <%= f.label :published, "Publish Quiz?" %><br>
    <%= f.check_box :published %>
  </div><br>
    <%= f.submit 'Create Quiz' %>
<% end %>
